* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
h1 {
    text-align: center;
    color: crimson;
}
header nav {
    width: 100%;
    /* background-color: #ec8e00; */
}
header nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
    /* padding-inline-start: 0px; */
}
header nav ul li {
    flex: 1;
    text-align: center;
    position: relative;
    /* text-align: left; */
    /* list-style-type: none; */
    /* display: inline; */
    /* flex: 1; */
    /* font-size: 1.1em;    */
    /* font-family: Arial, Helvetica, sans-serif; */
}
header nav ul li a, header nav ul li a summary {
    color: white;
    font-weight: bolder;
    padding: 10px 0;
    margin: auto;
    display: block;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    /* flex-flow: row wrap; */
    background-color: #ec8e00;
    transition: background-color 0.3s ease;
    text-decoration: none;
}
header nav ul li a:hover {
    background-color: #ffad33;
    /* color: black; */
}
.desplegable details {
    position: relative;
}
.desplegable summary::marker {
    display: none;
}
summary {
    list-style: none;    
}
.submenu {
    display: inline;
    flex-direction: column;
    background-color: #ffad33;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
}
.desplegable .submenu li a {
    padding: 8px;
    /* background-color: #ffad33; */
    /* width: 100%; */
    margin: 0;
    /* display: none; */
}
/* .desplegable details[open] .submenu {
    display: inline;
} */
 .desplegable .submenu {
    display: none;
 }
.subsubmenu {
    display: flex;
    width: 100%;
    /* left: 1000px; */
}
.desplegable .submenu li a:hover {
    background-color: #ffd27f;
}
.desplegable:hover .submenu{
    display: inline;
}
.desplegable .subsubmenu {
    display: none;
}
.desplegable:hover .subsubmenu {
    display: inline;
}